<div class="container  mt-3">
    <div class="row justify-content-center">
      <div class="col-2 border border-dark border-1 m-4">
        ranking- most visited
        <div class="position-relative">
          <div class="p-5 custom-bg mt-1">
              <p class="d-flex justify-content-end align-items-end position-absolute bottom-0 end-0">
                  name of the city
              </p>
          </div>
        </div>
        <div class="position-relative">
          <div class="p-5 custom-bg mt-3">
              <p class="d-flex justify-content-end align-items-end position-absolute bottom-0 end-0">
                  name of the city
              </p>
          </div>
        </div>
        <div class="position-relative">
          <div class="p-5 custom-bg mt-3">
              <p class="d-flex justify-content-end align-items-end position-absolute bottom-0 end-0">
                  name of the city
              </p>
          </div>
        </div>
        <div class="position-relative">
          <div class="p-5 custom-bg mt-3">
              <p class="d-flex justify-content-end align-items-end position-absolute bottom-0 end-0">
                  name of the city
              </p>
          </div>
        </div>
        <div class="position-relative">
          <div class="p-5 custom-bg mt-3">
              <p class="d-flex justify-content-end align-items-end position-absolute bottom-0 end-0">
                  name of the city
              </p>
          </div>
        </div>
        <div class="position-relative">
          <div class="p-5 custom-bg mt-3">
              <p class="d-flex justify-content-end align-items-end position-absolute bottom-0 end-0">
                  name of the city
              </p>
          </div>
        </div>
      </div>
      <div class="col-8 d-flex flex-wrap">
        <div class="col-3 border border-dark border-1 m-4">
          <div class="p-5 custom-bg"></div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
            possimus, eligendi labore sed aliquam molestias quaerat
          </p>
          <div class="d-flex justify-content-end">
              <div class="rectangle align-self-end"></div>
          </div>
        </div>
        <div class="col-3 border border-dark border-1 m-4">
          <div class="p-5 custom-bg"></div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
            possimus, eligendi labore sed aliquam molestias quaerat
          </p>
          <div class="d-flex justify-content-end">
              <div class="rectangle align-self-end"></div>
          </div>
        </div>
        <div class="col-3 border border-dark border-1 m-4">
          <div class="p-5 custom-bg"></div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
            possimus, eligendi labore sed aliquam molestias quaerat
          </p>
          <div class="d-flex justify-content-end">
              <div class="rectangle align-self-end"></div>
          </div>
        </div>
        <div class="col-3 border border-dark border-1 m-4">
          <div class="p-5 custom-bg"></div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
            possimus, eligendi labore sed aliquam molestias quaerat
          </p>
          <div class="d-flex justify-content-end">
              <div class="rectangle align-self-end"></div>
          </div>
        </div>
        <div class="col-3 border border-dark border-1 m-4">
          <div class="p-5 custom-bg"></div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
            possimus, eligendi labore sed aliquam molestias quaerat
          </p>
          <div class="d-flex justify-content-end">
              <div class="rectangle align-self-end"></div>
          </div>
        </div>
        <div class="col-3 border border-dark border-1 m-4">
          <div class="p-5 custom-bg"></div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
            possimus, eligendi labore sed aliquam molestias quaerat
          </p>
          <div class="d-flex justify-content-end">
              <div class="rectangle align-self-end"></div>
          </div>          
        </div>
      </div>
    </div>
  </div>